<div class="container">
    <div class="d-flex flex-wrap justify-content-end">
        <form class="mb-3 me-3" role="search" autocomplete="off" style="position: relative;">
            <div class="btn-group">
               <input id="searchInput" class="form-control dropdown-toggle" placeholder="Search..." aria-label="Search" data-toggle="dropdown" aria-expanded="false">
                <ul id="dropdownResults" class="dropdown-menu dropdown-menu-right"></ul>
            </div>
        </form>
    </div>
</div>
