<div id="sidebar" class="flex-shrink-0 p-3" style="width: 330px;">
    <a href="../index.html">
        <img src="../assets/images/PNNL_Orange.png" alt="PNNL Logo">
    </a>
    <span class="fs-5 fw-semibold">Contents</span>
    <ul class="list-unstyled ps-0">
        <li class="chapter mb-1">
            <a href="1_background.html" class="btn d-inline-flex justify-content-start rounded section-header">
                <b>1. &nbsp </b> Background
            </a>
        </li>
        <li class="chapter mb-1">
            <a href="2_organization-of-the-manual.html" class="btn d-inline-flex justify-content-start rounded section-header">
                <b>2. &nbsp </b> Organization of the Manual
            </a>
        </li>
        <li class="chapter mb-1">
            <a href="3_submittal-review-quick-start.html" class="btn d-inline-flex justify-content-start rounded section-header">
                <b>3. &nbsp </b> Submittal Review Quick Start
            </a>
        </li>
        <li class="chapter mb-1">
            <a href="4_review-process.html" class="btn d-inline-flex justify-content-start rounded section-header">
                <b>4. &nbsp </b> Review Process
            </a>
        </li>
        <li class="chapter mb-1">
            <button class="btn btn-toggle d-inline-flex justify-content-start rounded collapsed"
                    data-toggle="collapse" data-target="#ch5-collapse" aria-expanded="false">
                <b>5. &nbsp </b> Review Methodology
            </button>
            <div class="collapse border-1" id="ch5-collapse">
                <ul class="list-unstyled fw-normal small">
                    <li>
                        <a href="../content/5_1_general-concept.html" class="btn d-inline-flex justify-content-start rounded" >
                            <b>5.1 &nbsp </b> General Concept of 90.1 ECB and PRM Compliance
                        </a>
                    </li>
                    <li>
                        <a href="../content/5_2_types-of-review-checks.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>5.2 &nbsp </b> Types of the Review Checks
                        </a>
                    </li>
                    <li>
                        <a href="../content/5_3_identifying-impactful-aspects.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>5.3 &nbsp </b> Identifying the Impactful Aspects of the Submittal
                        </a>
                    </li>
                    <li>
                        <a href="../content/5_4_establishing-review-scope.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>5.4 &nbsp </b> Establishing Review Scope
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="chapter mb-1">
            <button class="btn btn-toggle d-inline-flex justify-content-start rounded collapsed"
                    data-toggle="collapse" data-target="#ch6-collapse" aria-expanded="false">
                <b>6. &nbsp </b> Review Checks
            </button>
            <div class="collapse border-1" id="ch6-collapse">
                <ul class="list-unstyled fw-normal small">
                    <li>
                        <a href="../content/6_1_nomenclature.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.1 &nbsp </b> Nomenclature
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_2_compliance-form-tab-name-changes.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.2 &nbsp </b> Compliance Form tab Name Changes
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_3_simulation-general.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.3 &nbsp </b> Simulation General (SG)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_4_utility-rates.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.4 &nbsp </b> Utility Rate (UR)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_5_building-envelope.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.5 &nbsp </b> Building Envelope (BE)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_6_lighting-interior.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.6 &nbsp </b> Lighting, Interior (LI)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_7_lighting-exterior.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.7 &nbsp </b> Lighting, Exterior (LE)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_8_plug-process-other-loads.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.8 &nbsp </b> Plug, Process and Other Loads (PPO)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_9_service-water-heating.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.9 &nbsp </b> Service Water Heating (SWH)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_10_airside-hvac.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.10 &nbsp </b> Airside HVAC (AHVAC)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_11_waterside-hvac.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.11 &nbsp </b> Waterside HVAC (WHVAC)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_12_renewable-energy.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.12 &nbsp </b> Renewable Energy (RE)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_13_exceptional-calculations.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.13 &nbsp </b> Exceptional Calculations (EC)
                        </a>
                    </li>
                    <li>
                        <a href="../content/6_14_90-1-2022-section-g3-3.html" class="btn d-inline-flex justify-content-start rounded">
                            <b>6.14 &nbsp </b> 90.1 2022 Section G3.3 Performance Calculations for Other Alterations
                        </a>
                    </li>
                </ul>
            </div>
        </li>
<!--        <li class="chapter mb-1">-->
<!--            <button class="btn btn-toggle d-inline-flex justify-content-start rounded collapsed"-->
<!--                    data-toggle="collapse" data-target="#ch7-collapse" aria-expanded="false">-->
<!--                <b>7. &nbsp </b> Simulation Reports-->
<!--            </button>-->
<!--            <div class="collapse border-1" id="ch7-collapse">-->
<!--                <ul class="list-unstyled fw-normal small">-->
<!--                    <li>-->
<!--                        <a href="#nomenclature" class="btn d-inline-flex justify-content-start rounded">-->
<!--                            <b>7.1 &nbsp </b> Carrier HAP v5-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#nomenclature" class="btn d-inline-flex justify-content-start rounded">-->
<!--                            <b>7.2 &nbsp </b> DesignBuilder-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#nomenclature" class="btn d-inline-flex justify-content-start rounded">-->
<!--                            <b>7.3 &nbsp </b> EnergyPlus / OpenStudio-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#nomenclature" class="btn d-inline-flex justify-content-start rounded">-->
<!--                            <b>7.4 &nbsp </b> eQUEST-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#nomenclature" class="btn d-inline-flex justify-content-start rounded">-->
<!--                            <b>7.5 &nbsp </b> IESVE-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#nomenclature" class="btn d-inline-flex justify-content-start rounded">-->
<!--                            <b>7.6 &nbsp </b> Trane TRACE 3D Plus-->
<!--                        </a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="#nomenclature" class="btn d-inline-flex justify-content-start rounded">-->
<!--                            <b>7.7 &nbsp </b> Trane TRACE 700-->
<!--                        </a>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </li>-->
        <li class="chapter mb-1">
            <a href="../content/appendixA_typical-building-operating-schedules.html" class="btn d-inline-flex justify-content-start rounded section-header">
                Appendix A: Typical Building Operating Schedules
            </a>
        </li>
        <li class="chapter mb-1">
            <a href="../content/abbreviations-and-acronyms.html" class="btn d-inline-flex justify-content-start rounded section-header">
                Abbreviations and Acronyms
            </a>
        </li>
    </ul>
</div>
